<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{/../css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/animate.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/apartment-details.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/owl.carousel.min.css}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/../css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/fontello.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/pe-icon-7-stroke.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/helper.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/icheck.min_all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/owl.theme.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/owl.transitions.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/lightslider.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/../css/responsive.css}" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <title>Dwellerz - property details</title>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">DWELLERZ</a>
      </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/about-us}">About Us</a></li>
      <li><a th:href="@{/apartments/all}">Apartments</a></li>
      <li><a th:href="@{/contact-us}">Contact Us</a></li>
      <li><a th:href="@{/login}">Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
    </div><!-- /.container-collapse -->
</nav>

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                              
            </div>
        </div>
    </div>
</div>
 <!-- start details view -->

 <div class="content-area single-property" style="background-color: #FCFCFC;">

    <div class="container">   

        <div class="clearfix padding-top-40" >

            <div class="col-md-8 single-property-content prp-style-2">
                <div class="">
                    <div class="row">
                        <div class="light-slide-item">            
                            <div class="clearfix">
                                <div class="favorite-and-print">
                                    
                                </div> 

                                <img th:src="@{/../img/property1.jpg}">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                                           
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-property-wrapper">

                        <div class="section">
                            <h4 class="s-property-title">Description</h4>
                            <div class="s-property-content">
                                <p>Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies                                </p>
                            </div>
                        </div>
                        <!-- End description area  -->

                        <div class="section additional-details">

                            <h4 class="s-property-title">Additional Details</h4>

                            <ul class="additional-details-list clearfix">
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Yes</span>
                                </li>

                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Built In</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">2003</span>
                                </li>
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Parking</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">2 Or More Spaces,Covered Parking,Valet Parking</span>
                                </li>

                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Yes</span>
                                </li>

                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">View</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Intracoastal View,Direct ew</span>
                                </li>

                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront Description:</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">Intracoastal Front,Ocean Access</span>
                                </li> 

                            </ul>
                        </div>  
                        <!-- End additional-details area  -->

                        <div class="section property-features">      

                            <h4 class="s-property-title">Features</h4>                            
                            <ul>
                                <li><a href="/">Swimming Pool</a></li>   
                                <li><a href="/">3 Stories</a></li>
                                <li><a href="/">Central Cooling</a></li>
                                <li><a href="/">Jog Path 2</a></li>
                                <li><a href="/">2 Lawn</a></li>
                                <li><a href="/">Bike Path</a></li>
                            </ul>

                        </div>
                        <!-- End features area  -->

                        <div class="section property-share"> 
                            <h4 class="s-property-title">Share width your friends </h4> 
                            <div class="roperty-social">
                                <ul> 
                                    <li><a title="Share this on dribbble" th:href="@{/}"><img th:src="@{/../img/dribbble_grey.png}"></a></li>                                         
                                    <li><a title="Share this on facebok " th:href="@{/}"><img th:src="@{/../img/facebook_grey.png}"></a></li> 
                                    <li><a title="Share this on delicious " th:href="@{/}"><img th:src="@{/../img/delicious_grey.png}"></a></li> 
                                    <li><a title="Share this on tumblr " th:href="@{/}"><img th:src="@{/../img/tumblr_grey.png}"></a></li> 
                                    <li><a title="Share this on digg " th:href="@{/}"><img th:src="@{/../img/digg_grey.png}"></a></li> 
                                    <li><a title="Share this on twitter " th:href="@{/}"><img th:src="@{/../img/twitter_grey.png}"></a></li> 
                                    <li><a title="Share this on linkedin " th:href="@{/}"><img th:src="@{/../img/linkedin_grey.png}"></a></li>                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 p0">
                <aside class="sidebar sidebar-property blog-asside-right property-style2">
                    <div class="dealer-widget">
                        <div class="dealer-content">
                            <div class="inner-wrapper">
                                <div class="single-property-header">                                          
                                    <h1 class="property-title">Villa in Coral Gables</h1>
                                    <span class="property-price">$825,000</span>
                                </div>

                                <div class="property-meta entry-meta clearfix ">   

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-tag">                                                                                      
                                            <img th:src="@{/../img/sale-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Status</span>
                                            <span class="property-info-value">For Sale</span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info icon-area">
                                            <img th:src="@{/../img/room-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Area</span>
                                            <span class="property-info-value">3500<b class="property-info-unit">Sq Ft</b></span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-bed">
                                            <img th:src="@{/../img/bed-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Bedrooms</span>
                                            <span class="property-info-value">3</span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-bath">
                                            <img th:src="@{/../img/cars-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Bathrooms</span>
                                            <span class="property-info-value">3.5</span>
                                        </span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-bath">
                                            <img th:src="@{/../img/os-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Bathrooms</span>
                                            <span class="property-info-value">3.5</span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-garage">
                                            <img th:src="@{/../img/room-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Garages</span>
                                            <span class="property-info-value">2</span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                        <span class="property-info-icon icon-garage">
                                            <img th:src="@{/../img/shawer-orange.png}">
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Garages</span>
                                            <span class="property-info-value">2</span>
                                        </span>
                                    </div>


                                </div>
                                <div class="dealer-section-space">
                                    <span>Agent / Owner Information</span>
                                </div>
                                <div class="clear">
                                    <div class="col-xs-4 col-sm-4 dealer-face">
                                        <a href="">
                                            <img th:src="@{/../img/client-face1.png}" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 ">
                                        <h3 class="dealer-name">
                                            <a href="">Nathan James</a>
                                            <span>Real Estate Agent</span>        
                                        </h3>
                                        <div class="dealer-social-media">
                                            <a class="twitter" target="_blank" href="">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="facebook" target="_blank" href="">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="gplus" target="_blank" href="">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="linkedin" target="_blank" href="">
                                                <i class="fa fa-linkedin"></i>
                                            </a> 
                                            <a class="instagram" target="_blank" href="">
                                                <i class="fa fa-instagram"></i>
                                            </a>       
                                        </div>

                                    </div>
                                </div>

                                <div class="clear">
                                    <ul class="dealer-contacts">                                       
                                        <li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
                                        <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                                        <li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
                                    </ul>
                                    <p>Duis mollis  blandit tempus porttitor curabiturDuis mollis  blandit tempus porttitor curabitur , est non…</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>

    </div>
</div>

<div class="footer-section">
  <div class="footer">
  <div class="container">
    <div class="col-md-3 footer-one">
      <h5>About Us </h5>
        <p>we are a small versatile team of tech enthusiasts who are tired of wasting time and money!</p>
    </div>
    <div class="col-md-3 footer-two">
      <h5>Information </h5>
      <ul>
          <li><a th:href="@{/apartments/all}">Apartments</a></li>
          <li><a th:href="@{/tenants/all}">Tenants</a></li>
          <li><a th:href="@{/about-us}">About Us</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-three">
      <h5>Information </h5>
      <ul>
          <li><a th:href="@{/locations/all}">Locations</a></li>
          <li><a th:href="@{/careers}">Careers</a></li>
          <li><a th:href="@{/media}">Press Release</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-four">
      <h5>Information </h5>
      <ul>
          <li><a th:href="@{/swagger-ui.html}">Developers</a></li>
          <li><a th:href="@{/subscribe}">Subscribe</a></li>
          <li><a th:href="@{/blog}">Blog</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
  <div class="footer-bottom">
  <div class="container">
        <div class="row">
          <div class="col-sm-6 ">
            <div class="copyright-text">
              <p>CopyRight © 2020 Dwellerz All Rights Reserved</p>
            </div>
          </div> <!-- End Col -->
          <div class="col-sm-6 ">
                <div class="bigpixi-footer-social pull-right">
    <ul>
        <li class="bigpixi-footer-social__list-item">
          <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://twitter.com/">
            <img class="bigpixi-footer-social__icon" alt="Twitter" title="Twitter" src="http://simpleicons.org/icons/twitter.svg">
</a>          </li>
        <li class="bigpixi-footer-social__list-item">
          <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.facebook.com/">
            <img class="bigpixi-footer-social__icon" alt="Facebook" title="Facebook" src="http://simpleicons.org/icons/facebook.svg">
</a>          </li>
        <li class="bigpixi-footer-social__list-item">
          <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.youtube.com/">
            <img class="bigpixi-footer-social__icon" alt="YouTube" title="YouTube" src="http://simpleicons.org/icons/youtube.svg">
</a>          </li>
        <li class="bigpixi-footer-social__list-item">
          <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.instagram.com/">
            <img class="bigpixi-footer-social__icon" alt="Instagram" title="Instagram" src="http://simpleicons.org/icons/instagram.svg">
</a>          </li>
        <li class="bigpixi-footer-social__list-item">
          <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.pinterest.com/">
            <img class="bigpixi-footer-social__icon" alt="Pinterest" title="Pinterest" src="http://simpleicons.org/icons/pinterest.svg">
</a>          </li>
    </ul>
            </div>						
                        
          </div> <!-- End Col -->
        </div>
      </div>
</div>
</div> 
<script th:src="@{/../js/modernizr-2.6.2.min.js}"></script>
<script th:src="@{/../js/bootstrap-select.min.js}"></script>
<script th:src="@{/../js/bootstrap-hover-dropdown.js}"></script>
<script th:src="@{/../js/easypiechart.min.js}"></script>
<script th:src="@{/../js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/../js/owl.carousel.min.js}"></script>
<script th:src="@{/../js/wow.js}"></script>
<script th:src="@{/../js/icheck.min.js}"></script>
<script th:src="@{/../js/price-range.js}"></script>
<script th:src="@{/../js/lightslider.min.js}"></script>
<script th:src="@{/../js/main.js}"></script>

<script>
    $(document).ready(function () {

        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });
</script>
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>